/**
 * Board
 */
.board-header{
  background: $color-white;
  padding: 28px;
  border-bottom: 1px solid $color-border;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
.board-header-title{
  margin: 0px 0px 3px 0px;
  font-size: 18px;
  color: $color-title;
  font-weight: 400;
}
.board-header-client{
  margin: 0px;
  font-size: 14px;
  color: $color-subtitle;
  font-weight: 400;
}
.board-content{
  // margin-top: 100px;
  padding: 115px 0px 28px 0px;
  display: block;
}
.board-lists{
  padding: 0px 28px;
  overflow-x: scroll;
}
.board-tags{
  padding: 0px 28px;
  margin-bottom: 15px;
}
